<span style="color: green;">
	<% if flash[:notice] %>
	<%= flash[:notice] %>
	<% end %>
</span>

<table>
	<% @tweets.each do |t| %>
	<tr>
		<td><%= t.message %></td>
		<td><%= ((Time.current - t.tdate) / 60).to_i.to_s %>分前</td>
		<td>
			<%= link_to '表示', tweet_path(t.id) %>
			<%= link_to '削除', tweet_path(t.id), method: :delete %>
			<%= link_to '編集', edit_tweet_path(t.id) %>
		</td>
	</tr>
	<% end %>
</table>

<%= link_to 'つぶやく', new_tweet_path %>